<div class="section-content">
  <div data-controller="scroll">
    <div data-scroll-target="section" class="section-container" id="about">
      <%= image_tag 'idea.png', alt: 'Steam', class: 'cuate-image' %>
      <section>
        <h2 class="section-title"><strong><%= t('lyralab.about_1.title') %></strong></h2>
        <p class="lyra-description"><%= t('lyralab.about_1.description') %></p>
      </section>
    </div>

    <div data-scroll-target="section" class="section-container" id="about">
      <%= image_tag 'computer.png', alt: 'Computer', class: 'cuate-image' %>
      <section>
        <h2 class="section-title"><strong><%= t('lyralab.about_2.title').html_safe %></strong></h2>
        <p class="lyra-description"><%= t('lyralab.about_2.description') %></p>
      </section>
    </div>

    <div data-scroll-target="section" class="section-container" id="about">
      <%= image_tag 'girls.png', alt: 'Woman', class: 'cuate-image' %>
      <section>
        <h2 class="section-title"><strong><%= t('lyralab.about_3.title') %></strong></h2>
        <p class="lyra-description"><%= t('lyralab.about_3.description') %></p>
      </section>
    </div>
  </div>
</div>
