<div class="founders-container">
  <div class="founder">
    <%= image_tag 'valentina.jpeg', alt: 'Valentina', class: 'founder-image' %>
    <section class="founder-info">
      <div class="lyra-founder"><%= t('lyralab.co-founders.vale') %></div>
      <div class="description">
        <p><%= t('lyralab.co-founders.vale-description') %></p>
      </div>
    </section>
  </div>

  <div class="founder">
    <%= image_tag 'cinthya.jpeg', alt: 'Cinthya', class: 'founder-image' %>
    <section class="founder-info">
      <div class="lyra-founder"><%= t('lyralab.co-founders.cinthya') %></div>
      <div class="description">
        <p><%= t('lyralab.co-founders.cinthya-description') %></p>
      </div>
    </section>
  </div>
  <div id='planet'>
    <%= image_tag 'planet.png', alt: 'planet', class: 'planet-img' %>
  </div>
</div>
