<div data-controller="scroll">
  <div data-scroll-target="section" class="sdg-container" id="section">
    <div class="sdg-title-img">
      <%= image_tag 'sdg.png', alt: 'SDG' %>
    </div>
    <div class="sdgs">
      <%= image_tag 'education.jpg', alt: 'SDG 1', class: 'sdg' %>
      <%= image_tag 'equality.jpg', alt: 'SDG 2', class: 'sdg' %>
      <%= image_tag 'inequalities.jpg', alt: 'SDG 3', class: 'sdg' %>
      <%= image_tag 'climate.jpg', alt: 'SDG 2', class: 'sdg' %>
      <%= image_tag 'partnership.jpg', alt: 'SDG 4', class: 'sdg' %>
    </div>
  </div>
</div>
