<div class="contact-form">
  <%= form_with model: @contact, local: true, url: contacts_path, data: { turbo: false } do |form| %>
    <div>
      <%= form.label :name,  t('activerecord.attributes.contact.name'), class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :email,  t('activerecord.attributes.contact.email'), class: "form-label" %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div>
      <%= form.label :message,  t('activerecord.attributes.contact.message'), class: "form-label" %>
      <%= form.text_area :message, class: "form-control textarea-control" %>
    </div>

    <div>
      <%= form.submit t('helpers.submit.contact'), class: "resources-button" %>
    </div>
  <% end %>
</div>
