<div class="contact-form">
  <%= form_with model: @contact, local: true, url: contacts_path, data: { turbo: false } do |form| %>
    <div>
      <%= form.label :name, "Nombre", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :email, "Email", class: "form-label" %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div>
      <%= form.label :message, "Mensaje", class: "form-label" %>
      <%= form.text_area :message, class: "form-control textarea-control" %>
    </div>

    <div>
      <%= form.submit "Enviar", class: "resources-button" %>
    </div>
  <% end %>
</div>
