<div class="resources-header">
  <div class="r-header">
    <h1 class="resources-title">The Lyra-Library</h1>
    <p class="resources-description"><%= t('resources-page.description') %></span></p>
    <div class="search-bar mt-2">
      <%= form_with url: recursos_path, method: :get, class: "d-flex align-items-center" do %>
        <%= text_field_tag :query, params[:query], class: "search-bar" %>
        <button type="submit" class="btn-search">
          <i class="fas fa-search"></i>
        </button>
      <% end %>
    </div>
  </div>
  <%= image_tag 'Innovation-bro.png', alt: 'library', class: 'resources-img' %>
</div>


<div class="resources-container">
  <% @steam_areas.each do |area| %>
    <div class="area-section <%= area.parameterize %>">
      <h2 class="area-title <%= area.parameterize %>"><%= area %></h2>
      <div class="cards-scroll-wrapper">
        <%= render 'recursos', resources: @resources.where(steam_area: area) %>
      </div>
    </div>
  <% end %>
</div>
