<div class="resources-header">
  <h1 class="resources-title">The Curated Lyralab Library</h1>
  <p class="resources-description">Ready to level up your STEAM skills? Dive into our handpicked resources!</p>
  <div class="search-bar mt-2">
    <%= form_with url: recursos_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by title, category, or description"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="resources-container">
  <div class="tabs">
    <ul class="nav nav-tabs" id="steamTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active steam-area" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" role="tab" aria-controls="all" aria-selected="true">Todos</a>
      </li>
      <% @steam_areas.each do |area| %>
        <li class="nav-item">
          <a class="nav-link steam-area" id="<%= area.downcase %>-tab" data-bs-toggle="tab" data-bs-target="#<%= area.downcase %>" role="tab" aria-controls="<%= area.downcase %>" aria-selected="false"><%= area %></a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <%= render 'recursos', resources: @resources %>
      </div>

      <% @steam_areas.each do |area| %>
        <div class="tab-pane fade" id="<%= area.downcase %>" role="tabpanel" aria-labelledby="<%= area.downcase %>-tab">

          <% unless @resources.where(steam_area: area, resource_type: 'Artículo').empty? %>
            <div class="resource-group">
              <h3>Artículos</h3>
              <%= render 'recursos', resources: @resources.where(steam_area: area, resource_type: 'Artículo') %>
            </div>
          <% end %>

          <% unless @resources.where(steam_area: area, resource_type: 'Vídeo').empty? %>
            <div class="resource-group">
              <h3>Videos</h3>
              <%= render 'recursos', resources: @resources.where(steam_area: area, resource_type: 'Vídeo') %>
            </div>
          <% end %>

          <% unless @resources.where(steam_area: area, resource_type: 'PDF').empty? %>
            <div class="resource-group">
              <h3>Libros/PDFs</h3>
              <%= render 'recursos', resources: @resources.where(steam_area: area, resource_type: 'PDF') %>
            </div>
          <% end %>

          <% unless @resources.where(steam_area: area, resource_type: 'Curso').empty? %>
            <div class="resource-group">
              <h3>Cursos recomendados</h3>
              <%= render 'recursos', resources: @resources.where(steam_area: area, resource_type: 'Curso') %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
