<div class="resources-container">
  <div class="resources-header">
    <h1 class="resources-title">Recursos</h1>
    <p class="resources-description">Encuentra recursos para aprender a programar, diseñar, marketing, etc.</p>

    <div class="filter-form">
      <%= form_with url: recursos_path, method: :get, local: true do |f| %>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Filtrar por categoría" %>
        <%= f.submit "Filtrar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="#all">Todos</a></li>
      <% @categories.each do |c| %>
        <li class="nav-item"><a class="nav-link" href="#<%= c.name %>"><%= c.name %></a></li>
      <% end %>
    </ul>

    <!-- Contenido de los recursos -->
    <div class="tab-content">
       <%= render 'recursos' %>
    </div>
  </div>
</div>
