<div class="container mt-4">
  <h1>Nuevo Recurso</h1>

  <%= simple_form_for @recurso, html: { multipart: true } do |f| %>
    <%= f.input :titulo, label: 'Titulo' %>
    <%= f.input :category_id,
                label: "Categoría",
                collection: Category.all.collect { |category| [category.name, category.id] },
                prompt: "Selecciona una Categoría" %>
    <%= f.input :descripcion %>
    <%= f.input :url, label: "URL del recurso" %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit %>
  <%end %>
</div>
